@model List<HaVanThy_DoAn_WebDoTheThaoNike.Models.CartItem>
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .closeBut {
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: #6c757d;
        opacity: 0.6;
        font-size: 1.5rem;
        line-height: 1;
        padding: 0;
        cursor: pointer;
        border-radius: 50%;
        outline: none;
    }

        .closeBut:hover, .closeBut:focus {
            color: #000;
            text-decoration: none;
            opacity: 0.75;
        }
</style>

</br>
</br>

@if (TempData["SuccessMessage"] != null)
{
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">NOTIFICATION</h5>
                    <button type="button" class="close closeBut" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        </div>
    </div>
}


<main class="container">
    @*<section class="h-100 h-custom">*@
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h2 class="fw-bold mb-0 text-black">Shopping Cart</h2>
                                            @if (Model != null && Model.Any())
                                            {
                                                <h6 class="mb-0 text-muted">@Model.Count() Items</h6>
                                            }
                                            else
                                            {
                                                <h6 class="mb-0 text-muted">Your Cart is Empty</h6>
                                            }
                                        </div>
                                        <hr class="my-4">

                                        @foreach (var item in Model)
                                        {
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="@Url.Content("~/images/imgShoes/" + item.Product.Image)"
                                                         class="img-fluid rounded-3" alt="@item.Product.ProductName">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@item.Product.Category.CategoryName</h6>
                                                    <h6 class="text-black mb-0">@item.Product.ProductName</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="proid" value="@item.ProductID" />

                                                        <button type="button" class="btn btn-link px-5" onclick="decreaseQuantity(this)">
                                                            <i class="fas fa-minus"></i>
                                                        </button>

                                                        <input id="form1" min="0" name="quantity" value="@item.Quantity" type="number" class="form-control form-control-sm" />

                                                        <button type="button" class="btn btn-link px-5" onclick="increaseQuantity(this)">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    }
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">@item.Product.Price.ToString("C")</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    @Html.ActionLink("x", "RemoveFromCart", new { id = item.ProductID }, new { @class = "closeBut" })
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                        }

                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="/Product" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue Shopping</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Quantity </h5>
                                            <h5>@Model.Sum(item => item.Quantity).ToString()</h5>
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total price</h5>
                                            <h5>@Model.Sum(item => item.Quantity * item.Product.Price).ToString("C")</h5>
                                        </div>

                                        <button type="button" class="btn btn-dark btn-block btn-lg"
                                                data-mdb-ripple-color="dark">
                                            Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</section>*@
</main>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#successModal').modal('show');
        });
    </script>
}

<script>
    function increaseQuantity(button) {
        var inputField = button.parentNode.querySelector('input[type=number]');
        inputField.stepUp();
        button.parentNode.submit();
    }

    function decreaseQuantity(button) {
        var inputField = button.parentNode.querySelector('input[type=number]');
        inputField.stepDown();
        button.parentNode.submit();
    }
</script>